---
import Layout from './Layout.astro';

interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  image?: string;
  author?: string;
  type?: 'website' | 'article';
  publishDate?: Date;
}

const { ...rest } = Astro.props as Props;
---

<Layout {...rest}>
  <div class="pt-4 px-4 mx-auto max-w-screen-md text-sm">
    <slot />
  </div>
</Layout>
