---
import type { MarkdownHeading } from 'astro';
import Prose from '../components/core/Prose.astro';
import MobileTableOfContent from '../components/toc/MobileTableOfContent.astro';
import TableOfContent from '../components/toc/TableOfContent.astro';
import Layout from './Layout.astro';

interface Props {
  title: string;
  description?: string;
  headings: MarkdownHeading[];
  keywords?: string[];
  image?: string;
  author?: string;
  type?: 'website' | 'article';
  publishDate?: Date;
}

const { headings, ...rest } = Astro.props as Props;
---

<Layout {...rest}>
  <MobileTableOfContent {headings} slot="top" />
  <div
    class="grid grid-cols-[minmax(0px,1fr)_min(736px,100%)_minmax(0px,1fr)] pt-4 px-4"
  >
    <div class="hidden xl:flex justify-end px-6 row-start-2 col-start-1">
      <nav
        class="block md:sticky top-20 max-h-[calc(100vh-5rem)] overflow-y-auto"
      >
        <TableOfContent {headings} />
      </nav>
    </div>
    <main class="row-start-2 col-start-2 space-y-4">
      <Prose>
        <slot />
      </Prose>
    </main>
  </div>
</Layout>
