---
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = "BreachCTF 2025 - Cryptography Writeups";
---

<BaseLayout title={pageTitle}>
    <h1>{pageTitle}</h1>
    <div class="content">
        <p>Writeups for cryptography challenges from BreachCTF 2025 will be posted here.</p>
    </div>
</BaseLayout>